<launch>
     <!-- launches a clean video stream from the webgui node -->

    <arg name="front_camera" value="front_camera"/>
    <arg name="record" value="false"/>
    <include file="$(find webgui)/webgui.launch"/>

    <include file="$(find webgui)/camera_stream.launch">
         <arg name="node_name" value="$(arg front_camera)"/>
         <arg name="fps" value="1"/>
         <arg name="fd" value="/dev/video0"/>
         <arg name="record" value="$(arg record)"/>
    </include>

</launch>
